mat-sidenav-container {
  display: flex;
  height: 100vh;
}

mat-sidenav {
  width: 23%;
  padding: 15px; /* Ancho inicial del menú lateral */
  transition: width 0.3s;
  background: linear-gradient( #B0507F 0, #872b57 25%, #6d1a42 100%);
}

.sidenav-collapsed {
  width: 88px; /* Ancho menor cuando está colapsado */
}

mat-sidenav-content {
  flex: 1;
  padding: 24px;
  height: 93%;
  transition: margin-left 0.3s; /* Suaviza el cambio en la transición */
}

.sidenav-header {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.tit1 {
  color: #1858b9;
}

.tit2 {
  color: #062c64;
  margin-right: 120px;
}

.textoblanco,
.mdc-list-item--with-leading-icon .mdc-list-item__start.blanco {
  color: white;
}

.tamanio-auto {
  width: auto;
}

.active {
  border-bottom: solid 2px #ffffff;
}

  .sidenav-header-collapsed{
    display: flex;
    align-items: center;
    margin-left: 5px;
  }

  .sidenav-collapsed-content {
    margin-left: 88px; /* Para ajustar el contenido cuando el menú está colapsado */
  }

  .adjusted-width {
    margin-left: 88px; /* Margen que simule el colapso */
  }

  .pageTitle{
    display: flex;
  }
  