<mat-sidenav-container>
  <mat-sidenav opened mode="side" [ngClass]="{ 'sidenav-collapsed': collapsed }">
    <div class="sidenav-header" [ngClass]="collapsed ? 'sidenav-header-collapsed' : ''">
      <ng-container *ngIf="!collapsed ">
        <div class="pageTitle" (click)="irPaginaInicial()">
          <h2 class="tit1">PIA</h2>
          <h2 class="tit2">VC</h2>
        </div>
       
      </ng-container>
      
      <button mat-icon-button (click)="collapse()" color="warn" class="desplegable">
        <mat-icon>{{ collapsed ? 'keyboard_arrow_right' : 'keyboard_arrow_left' }}</mat-icon>
      </button>
    </div>

    <mat-nav-list style="height: 100%;">
      <a
        mat-list-item
        class="tamanio-auto"
        *ngFor="let seccion of secciones"
        [routerLink]="seccion.route"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon matListItemIcon class="blanco">
          {{ seccion.icon }}
        </mat-icon>
        <span *ngIf="!collapsed" matListItemTitle class="textoblanco">
          {{ seccion.name }}
        </span>
      </a>
      <a (click)="exit()" mat-list-item class="tamanio-auto exit-out">
        <mat-icon matListItemIcon class="blanco">logout</mat-icon>
        <span *ngIf="!collapsed" matListItemTitle class="textoblanco">Cerrar Sesión</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content [class.adjusted-width]="collapsed">
    <router-outlet></router-outlet>
    <app-chat-bot-d></app-chat-bot-d>
  </mat-sidenav-content>
</mat-sidenav-container>
