<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir Tarea</title>
</head>

<body>
    <div class="contenedor-tarea">
        <div class="encabezado-materia">
            <h1>{{ docente }}</h1>
            <button  [disabled]="abilitar" class="entregar-button acciones" (click)="guardarEntrega()" mat-raised-button color="primary">
                Guardar</button>
    
        </div>
        <div class="contenido-principal">
            <div class="informacion-materia">
                <p class="vence">Vence: {{ fechaVencimiento | date:'dd-MM-yyyy HH:mm' }}</p>
            </div>

            <div class="img-materia">
                <img mat-card-image src="./assets/images/mat1.png" alt="materia1">
            </div>
        </div>

        <div class="info-tarea">
            <div class="nombre-tarea">
                <strong>Nombre de tarea:</strong> {{ titulo }}
            </div>

            <div class="desc-tarea">
                <strong>Descripción de la tarea:</strong> {{ descrip }}
                <div class="buton-download">
                    <a href="./assets/download/materia1.pdf" download class="download-icon">
                        <i class="fas fa-download"></i>
                    </a>
                </div>
            </div>

        </div>
        <div class="list-section">
            <div class="list-title">Material de apoyo</div>
            <div class="list">
                <ul #listContainer>
                    <!-- Aquí se mostrarán los archivos cargados -->
                </ul>
            </div>
        </div>

        <div class="list-section">
            <div class="list-title">Archivos Subidos</div>
            <div class="list">
                <ul #listContainer2>
                    <!-- Aquí se mostrarán los archivos cargados -->
                </ul>
            </div>
        </div>
        <div class="subir-documentos">
            <button [disabled]="abilitar" mat-button (click)="openDialog()" for="documento" class="subir-button" mat-raised-button
                color="accent">Subir Documentos</button>
            <input type="file" id="documento" name="documento" multiple style="display: none;">
        </div>

    </div>
</body>

</html>