<mat-sidenav-container>
  <mat-sidenav opened mode="side" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
    <div class="sidenav-header" [ngClass]="collapsed ? 'sidenav-header-collapsed' : ''">
      <button mat-icon-button (click)="collapse()" color="warn" class="desplegable">
        <mat-icon *ngIf="!collapsed">keyboard_arrow_left</mat-icon>
        <mat-icon *ngIf="collapsed">keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <mat-nav-list>
      <a *ngFor="let seccion of secciones" mat-list-item class="tamanio-auto" [routerLink]="seccion.route" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon matListItemIcon class="blanco">{{ seccion.icon }}</mat-icon>
        <span *ngIf="!collapsed" matListItemTitle class="textoblanco">{{ seccion.name }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content [ngClass]="collapsed ? 'sidenav-collapsed-content' : ''">
    <app-in-reu></app-in-reu>
    <router-outlet></router-outlet>
    <div *ngIf="isDocente; else alumno">
      <app-chat-bot-d></app-chat-bot-d>
    </div>
    <ng-template #alumno>
      <app-chat-bot-a></app-chat-bot-a>
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>
