@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

.contenedor-tarea {
    position: relative;
    width: 90%;
    max-width: 2040px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(247, 245, 167, 0.841);
    display: flex;
    align-items: center;
    border: 1px solid transparent;
}

.download-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    color: rgb(109, 26, 66);
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.download-icon:hover {
    color: #ff0000;
}

/* Definición de la animación de rotación */
@keyframes click-animation {
    0% {
        transform: scale(1) rotate(0deg);
    }

    50% {
        transform: scale(1.2) rotate(360deg);
    }

    100% {
        transform: scale(1) rotate(720deg);
    }
}

/* Aplica la animación cuando se hace clic */
.download-icon:active {
    animation: click-animation 0.9s ease-in-out;
}

.img-materia {
    flex: 0 0 25%;
    max-width: 25%;
}

img[mat-card-image] {
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin: 0;
}

.informacion-materia {
    flex: 2;
    padding-left: 10px;
    padding-right: 30px;
}

.informacion-materia h1 {
    margin-top: 10px;
    padding: 5px 0;
    font-family: "Girassol", cursive;
    text-align: center;
    color: #1854fa;
}

.informacion-materia p {
    text-align: justify;
}

.publico {
    color: #1854fa;
    font-family: "Girassol";
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

/* ----- Configuración para mostrar la lista de archivos (descargar ------ */
.list-section {
    text-align: left;
    margin: 0px 35px;
    margin-left: 60px;
    padding-bottom: 20px;
}

.list-section .list-title {
    font-size: 0.95rem;
    color: #707EA0;
    text-transform: uppercase;
}

.list-section li {
    display: flex;
    margin: 15px 0px;
    padding-top: 4px;
    padding-bottom: 2px;
    border-radius: 8px;
    transition-duration: 0.2s;
    margin-left: -70px;
    max-width: 750px;
}

.informacion-materia h1 {
    margin-top: 10px;
    padding: 5px 0;
    text-align: center;
    font-family: "Cambria";
    color: #6d1a42;
}

.list-section li .col:nth-child(2) div.name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
    display: inline-block;
}

.list-section li .col .file-name span {
    color: #707EA0;
    float: right;
    margin-top: -16px;
}

.tamaño {
    font-size: 30px;
    /* Ajusta el tamaño según lo necesites */
    color: blue;
}

.list-section .list .col.file-name {
    font-size: 19px;
    /* Valor por defecto */
    margin-left: -15px;
    /* Valor por defecto */
}

/* Para pantallas pequeñas (por ejemplo, hasta 600px de ancho) */
@media (max-width: 600px) {
    .list-section .list .col.file-name {
        font-size: 16px;
        /* Ajusta este valor según tus necesidades */
        margin-left: -15px;
        /* Ajusta este valor para acercarlo más al ícono */
    }
}

/* Para pantallas medianas (por ejemplo, entre 601px y 900px) */
@media (min-width: 601px) and (max-width: 900px) {
    .list-section .list .col.file-name {
        font-size: 18px;
        /* Ajusta este valor según tus necesidades */
        margin-left: -5px;
        /* Ajusta este valor para acercarlo más al ícono */
    }
}

/* Para pantallas grandes (por ejemplo, más de 900px de ancho) */
@media (min-width: 901px) {
    .list-section .list .col.file-name {
        font-size: 19px;
        /* Valor por defecto */
        margin-left: 15px;
        /* Valor por defecto */
    }
}

/* Estos colores son para los iconos de los archivos subidos */
.text-danger {
    color: #dc3545;
    /* Rojo */
}

.text-primary {
    color: #007bff;
    /* Azul */
}

.text-success {
    color: #28a745;
    /* Verde */
}

.text-warning {
    color: #ffc107;
    /* Naranja */
}

.text-muted {
    color: #6c757d;
    /* Gris */
}

.text-secondary {
    color: #62b6ff;
    /* Color secundario */
}

/********* Estilos para el input de comentar y publicar aviso */

/* Contenedor general del campo de comentarios */
.nuevo-comentario {
    position: fixed;
    bottom: 2%;
    left: 50%;
    /* Establece la posición izquierda en el 50% de la pantalla */
    transform: translateX(-34%);
    /* Ajusta el contenedor hacia la izquierda para centrarlo */
    width: 68%;
    /* Ocupa el 70% del ancho de la pantalla */

    margin: 0;
    /* Elimina el margen horizontal */
    border: 1px solid rgb(208, 208, 208);

    display: flex;
    align-items: center;
    /* Alinea verticalmente los elementos */
    gap: 10px;
    /* Espacio entre los elementos */

    justify-content: space-between;
    /* Distribuye el espacio entre el input y el botón */
    z-index: 1000;
    /* Asegura que quede encima de otros elementos */

    padding: 7px;
    /* Espaciado interno */
    background-color: #f5f5f4da;
    border-radius: 10px;
}

/* Campo de texto para comentarios */
.input-comentario {
    flex-grow: 1;
    /* Hace que el input ocupe el espacio disponible */
    min-height: 20px;
    /* Altura mínima más cómoda */
    padding: 10px;
    font-size: 17px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    resize: vertical;
    /* Permite al usuario ajustar la altura */
    margin-right: 10px;
    /* Espacio entre el input y el botón */
}

.input-comentario:focus {
    border-color: #800000; /* Guinda */
    border-width: 2px; /* Aumenta el grosor del borde */
    outline: none; /* Elimina el borde de enfoque predeterminado */
}

.comentar {
    display: flex;
    align-items: center;
    gap: 15px;
    /* Ajusta el valor según el espacio deseado */
}


/* Botón para enviar comentario */
.btn-comentar {
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    /* Color de fondo por defecto */
    color: white;
    /* Color del texto */
    transition: all 0.3s ease;
    flex-shrink: 0;
    /* Evita que el botón se encoja */
    margin-right: 5%;
}

/* Cambio de color al pasar el mouse */
.btn-comentar:hover {
    background-color: #ff1818e8;
    /* Cambio de color cuando se pasa el mouse */
}

.uis-paperclip {
    font-size: 35px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    color: #5e5e5e;
    margin-right: 10px;
    /* Ajusta el valor según el espacio deseado */
}

/* Efecto cuando el cursor pasa por encima */
.uis-paperclip:hover {
    color: #9b111e; /* Color guinda */
    transform: translateY(-5px); /* Mueve el ícono hacia arriba 5px */
}

/* Seccion: section-up-comentario  */

/* Contenedor principal */
.contenedor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end; /* Alinea los elementos al final del eje vertical */

    gap: 20px; /* Espacio entre los elementos */
    position: relative;
    margin: 20px -18px;
    width: 90%; /* Ajusta el tamaño si es necesario */
    min-height: 58vh; /* Asegura que el contenedor ocupe al menos el 80% de la altura de la pantalla */
}

.list-section{
    width: 80%;
}

/* Sección de archivos cargados */
.section-up-comentario {
    position: absolute; /* Posiciona el contenedor de archivos de manera absoluta */
    top: -40px; /* Ajusta el valor según necesites */
    left: 0;
    width: 100%;
}

/* Contenedor de nuevo comentario */

