<div class="entregas-container" *ngIf="avisos.length > 0; else noAvisos">
    <div *ngFor="let aviso of avisos" class="contenedor-tarea">
        <div class="img-materia">
            <img mat-card-image src="./assets/images/mat1.png" alt="materia1">
        </div>
        <div class="informacion-materia">
            <h1>{{ docente }}</h1>
            <p>{{ aviso.aviso }}</p>
            <p class="publico">Publicado: {{ aviso.a_fecha | date:'dd-MM-yyyy HH:mm' }}</p>
            <a class="download-icon" (click)="onDownloadClick(aviso.idAviso)">
                <i class="fas fa-download"></i>
            </a>

            <div class="list-section" [ngStyle]="{'display': showFileList[aviso.idAviso] ? 'block' : 'none'}">
                <div class="list-title">Archivos Subidos</div>
                <div class="list">
                    <ul>
                        <li *ngFor="let file of aviso.archivos" (click)="abrirArchivo(file, aviso.idAviso)" >
                            <div class="col tamaño"><i [class]="getFileIcon(file.name)"></i></div>
                            <div class="col file-name">{{file.name}} - <span>{{file.size}}</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #noAvisos>
</ng-template>

<!--------------- Campo para enviar un nuevo mensaje -------------->
<div class="contenedor" *ngIf="isDocente">
    <!-- Mostrar la lista de archivos -->
    <div id="section-up-comentario" class="list-section">
        <div class="list-title">Archivos Subidos</div>
        <div class="list">
            <ul #listContainer>
                <!-- Aquí se mostrarán los archivos cargados -->
            </ul>
        </div>
    </div>

    <!-- Enviar comentario y documento -->
    <div class="nuevo-comentario">
        <input type="text" [(ngModel)]="nuevoMensaje" placeholder="Escribe un comentario..." class="input-comentario">

        <i (click)="openDialog()" class="uis uis-paperclip"></i>
        <button class="btn-comentar" mat-raised-button color="primary" (click)="comentar()">Comentar</button>
    </div>
</div>