@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

.contenedor-tarea {
    position: relative;
    width: 75%;
    /* Ancho relativo para diseño responsive */
    max-width: 800px;
    /* Ancho máximo para pantallas grandes */
    margin:  auto;
    /* Centra el contenedor horizontalmente */
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(226, 226, 226, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Alinea el contenido al centro */
    justify-content: center;
    border: 1px solid transparent;
}


/* ------ */

.contenedor-tarea {
    font-family: Arial, sans-serif;
    padding: 40px;
}
.encabezado-materia{
    display: flex;
    width: 100%;
    align-items: center;
}
.contenido-principal {
    display: flex;
    width: 90%;
    margin: auto;
}

.informacion-materia {
    flex: 1;
    text-align: left;
    /* Ajusta el espacio entre las columnas */
}

.img-materia {
    flex: 1;
    display: flex;
    justify-content: center;
}

.img-materia img {
    max-width: 100%;
    height: 150px;
    /* Fija una altura específica para uniformidad */
    object-fit: contain;
}

.info-tarea {
    width: 100%;
    margin-bottom: 20px;
    font-size: 18px;
}


.info-tarea .nombre-tarea,
.info-tarea .desc-tarea {
    margin-bottom: 20px;
}

.desc-tarea {
    display: inline-block;
    margin-bottom: 10px;
}

.buton-download {
    display: inline-block;
    /* Reduce el espacio entre el texto y el botón */
}

.subir-documentos {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.comentarios {
    width: 100%;
}

.download-icon {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 24px;
}


/* ------ */

.informacion-materia {
    width: 100%;
    text-align: left;
}

.encabezado-materia h1 {
    margin: 30px;
    font-size: 35px;
    font-family: "Cambria";
    color: #6d1a42;
}

.informacion-materia .vence {
    margin-right: 20px;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
}

.img-materia {
    margin-top: 0;
    width: 100%;
    max-width: 25%;
    display: flex;
    justify-content: left;
    padding: 0;
}

img[mat-card-image] {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.acciones {
    margin-left: auto;
    /* Ajusta el valor según lo necesites */
}

.entregar-button {
    margin-right: 60px;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
}

.entregar-button:hover {
    background-color: #0033cc;
}

.download-icon {
    font-size: 24px;
    color: rgb(109, 26, 66);
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.download-icon:hover {
    color: #ff0000;
}

@keyframes click-animation {
    0% {
        transform: scale(1) rotate(0deg);
    }

    50% {
        transform: scale(1.2) rotate(360deg);
    }

    100% {
        transform: scale(1) rotate(720deg);
    }
}

.download-icon:active {
    animation: click-animation 0.9s ease-in-out;
}

.subir-documentos {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.subir-button {
    padding: 10px 20px;
    background: linear-gradient(to right, #FF9933, #FFC545) !important;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
}

.contenedor-tarea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Alinea todo el contenido del contenedor a la izquierda */
}

.comentarios {
    width: 100%;
    /* Ocupa todo el ancho del contenedor */
    padding: 10px 0;
    margin-top: -20px;
}

.comentarios h2 {
    font-family: 'Times New Roman', Times, serif;
    color: #1854fa;
    margin-bottom: 10px;
    text-align: left;
    /* Asegura que el título esté alineado a la izquierda */
}

textarea {
    height: 150px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
    text-align: left;
    /* Alinea el texto dentro del textarea a la izquierda */
}

.input-comentario {
    flex: 1;
    /* Toma todo el espacio disponible */
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-right: 10px;
    box-sizing: border-box;
}


/* nuevos estilos para escribir */
.input-nombre-tarea{
    width: 95%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.input-desc-tarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.nombre-tarea input:focus,
.desc-tarea textarea:focus {
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

.desc-tarea {
    width: 100%;
    height: 150px;
    resize: vertical;
}

.nombre-tarea input {
    margin-top: 8px;
    /* Espacio entre el texto y el input */
}

/* espacio para la fecha */
.informacion-materia {
    display: flex;
    flex-direction: column;
}

.vence-fecha {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinea a la izquierda */
    margin: 0;
    padding: 0;
}

.vence {
    margin: 0; /* Asegúrate de eliminar cualquier margen */
    padding: 0; /* Elimina cualquier relleno */
    font-size: 10px; /* Ajusta el tamaño de fuente si es necesario */
}

.input-vencimiento { /* Ajusta el espacio entre el texto y el input */
    padding: 2px; 
}

/* estilos para input: fecha */
.input-container {
    display: flex;
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
    margin-bottom: 15px; /* Espaciado inferior */
}

.input-vencimiento {
    width: auto;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* Cambia el borde al hacer foco */
.input-vencimiento:focus {
    border-color: #007BFF; /* Color del borde al hacer foco */
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.2); /* Añade un sombreado suave */
}

/* Cambia el cursor cuando el input está inactivo */
.input-vencimiento:disabled {
    background-color: #e9ecef;
    cursor: not-allowed;
    color: #6c757d;
}

/* Estilo para un estado válido */
.input-vencimiento:valid {
    border-color: #007BFF;
}

/* Estilo para un estado inválido */
.input-vencimiento:invalid {
    border-color: #dc3545;
}

/* Placeholder */
.input-vencimiento::placeholder {
    color: #999;
}

/* para mensaje del input: fecha */
.validation-message {
    margin-top: 5px; /* Espacio entre el input y el mensaje */
    font-size: 14px;
    color: #dc3545; /* Rojo */
    display: none; /* Oculto por defecto */
}

.list-section {
    display: none;
    text-align: left;
    margin: 0px 35px;
    padding-bottom: 20px;
}

.list-section .list-title {
    font-size: 0.95rem;
    color: #707EA0;
    text-transform: uppercase;
}

.list-section li {
    display: flex;
    margin: 15px 0px;
    padding-top: 4px;
    padding-bottom: 2px;
    border-radius: 8px;
    transition-duration: 0.2s;
}

.list-section li:hover {
    box-shadow: #E3EAF9 0px 0px 4px 0px, #E3EAF9 0px 12px 16px 0px;
}

.list-section li .col {
    flex: .1;
}

.list-section li .col:nth-child(1) {
    flex: .15;
    text-align: center;
}

.list-section li .col:nth-child(2) {
    flex: .78;
    text-align: left;
    font-size: 0.9rem;
    color: #3e4046;
    padding: 8px 10px;
}

.list-section li .col .file-name span {
    color: #707EA0;
    float: right;
    margin-top: -16px;
}

.list-section li .file-progress {
    width: 100%;
    height: 5px;
    margin-top: 8px;
    border-radius: 8px;
    background-color: #dee6fd;
}

.list-section li .file-progress span {
    display: block;
    width: 50%;
    height: 100%;
    border-radius: 8px;
    background-image: linear-gradient(120deg, #6b99fd, #9385ff);
    transition-duration: 0.4s;
}

.list-section li .col .file-size {
    margin-top: 5px;
    font-size: 0.75rem;
    color: #707EA0;
}

.list-section li .col svg.cross,
.list-section li .col svg.tick {
    fill: #8694d2;
    background-color: #dee6fd;
    position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.list-section li .col svg.tick {
    fill: #50a156;
    background-color: transparent;
}

.list-section li.complete span,
.list-section li.complete .file-progress,
.list-section li.complete svg.cross {
    display: none;
}

.list-section li.in-prog .file-size,
.list-section li.in-prog svg.tick {
    display: none;
}

.list-section {
    display: block;
}