<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificar Datos</title>
</head>

<body>
    <h1>Verificar Datos - Horario</h1>

    <!-- Contenedor para Boleta y Nombre -->
    <div class="input-container">
        <!-- Campo de Boleta -->
        <div class="input-row">
            <mat-form-field class="input-field">
                <mat-label>Boleta</mat-label>
                <input matInput placeholder="Boleta" [(ngModel)]="boleta">
            </mat-form-field>
        </div>

        <!-- Campo de Nombre -->
        <div class="input-row">
            <mat-form-field class="input-field">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" [(ngModel)]="nombre">
            </mat-form-field>
        </div>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
        <!-- materia Column -->
        <ng-container matColumnDef="materia">
            <th mat-header-cell *matHeaderCellDef class="header-cell-center">Materia</th>
            <td mat-cell *matCellDef="let element" class="cell-center">
                <mat-form-field>
                    <textarea matInput placeholder="Materia" [(ngModel)]="element.materia"></textarea>
                </mat-form-field>
            </td>
        </ng-container>

        <!-- docente Column -->
        <ng-container matColumnDef="docente">
            <th mat-header-cell *matHeaderCellDef class="header-cell-center">Docente</th>
            <td mat-cell *matCellDef="let element" class="cell-center">
                <mat-form-field>
                    <textarea matInput placeholder="Docente" [(ngModel)]="element.docente"></textarea>
                </mat-form-field>
            </td>
        </ng-container>

        <!-- lunes Column -->
        <ng-container matColumnDef="lunes">
            <th mat-header-cell *matHeaderCellDef class="header-cell-center">Lunes</th>
            <td mat-cell *matCellDef="let element" class="cell-center">
                <div class="hora-container">
                    <div class="hora-group">
                        <label for="entrada-lunes">Entrada:</label>
                        <input id="entrada-lunes" class="hora-entrada" type="time" [(ngModel)]="element.lunesEntrada">
                    </div>
                    <div class="hora-group">
                        <label for="salida-lunes">Salida:</label>
                        <input id="salida-lunes" class="hora-salida" type="time" [(ngModel)]="element.lunesSalida">
                    </div>
                </div>
            </td>
        </ng-container>

        <!-- martes Column -->
        <ng-container matColumnDef="martes">
            <th mat-header-cell *matHeaderCellDef class="header-cell-center">Martes</th>
            <td mat-cell *matCellDef="let element" class="cell-center">
                <div class="hora-container">
                    <div class="hora-group">
                        <label for="entrada-martes">Entrada:</label>
                        <input id="entrada-martes" class="hora-entrada" type="time" [(ngModel)]="element.martesEntrada">
                    </div>
                    <div class="hora-group">
                        <label for="salida-martes">Salida:</label>
                        <input id="salida-martes" class="hora-salida" type="time" [(ngModel)]="element.martesSalida">
                    </div>
                </div>
            </td>
        </ng-container>

        <!-- miercoles Column -->
        <ng-container matColumnDef="miercoles">
            <th mat-header-cell *matHeaderCellDef class="header-cell-center">Miércoles</th>
            <td mat-cell *matCellDef="let element" class="cell-center">
                <div class="hora-container">
                    <div class="hora-group">
                        <label for="entrada-miercoles">Entrada:</label>
                        <input id="entrada-miercoles" class="hora-entrada" type="time"
                            [(ngModel)]="element.miercolesEntrada">
                    </div>
                    <div class="hora-group">
                        <label for="salida-miercoles">Salida:</label>
                        <input id="salida-miercoles" class="hora-salida" type="time"
                            [(ngModel)]="element.miercolesSalida">
                    </div>
                </div>
            </td>
        </ng-container>

        <!-- jueves Column -->
        <ng-container matColumnDef="jueves">
            <th mat-header-cell *matHeaderCellDef class="header-cell-center">Jueves</th>
            <td mat-cell *matCellDef="let element" class="cell-center">
                <div class="hora-container">
                    <div class="hora-group">
                        <label for="entrada-jueves">Entrada:</label>
                        <input id="entrada-jueves" class="hora-entrada" type="time" [(ngModel)]="element.juevesEntrada">
                    </div>
                    <div class="hora-group">
                        <label for="salida-jueves">Salida:</label>
                        <input id="salida-jueves" class="hora-salida" type="time" [(ngModel)]="element.juevesSalida">
                    </div>
                </div>
            </td>
        </ng-container>

        <!-- viernes Column -->
        <ng-container matColumnDef="viernes">
            <th mat-header-cell *matHeaderCellDef class="header-cell-center">Viernes</th>
            <td mat-cell *matCellDef="let element" class="cell-center">
                <div class="hora-container">
                    <div class="hora-group">
                        <label for="entrada-viernes">Entrada:</label>
                        <input id="entrada-viernes" class="hora-entrada" type="time"
                            [(ngModel)]="element.viernesEntrada">
                    </div>
                    <div class="hora-group">
                        <label for="salida-viernes">Salida:</label>
                        <input id="salida-viernes" class="hora-salida" type="time" [(ngModel)]="element.viernesSalida">
                    </div>
                </div>
            </td>
        </ng-container>


        <!-- Header Row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <!-- Data Rows -->
        <tr mat-row color="primary" *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <div id="boton">
        <button mat-button color="primary" mat-raised-button class="boton">Guardar Horario</button>
    </div>

</body>

</html>