<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materia - Tareas</title>
</head>

<body>
    <div class="contenedor-tarea">
        <div class="img-materia">
            <img mat-card-image src="./assets/images/mat1.png" alt="materia1">
        </div>
        <div class="informacion-materia">
            <h1>Uriel Alejandro</h1>
            <p>El desarrollo del liderazgo personal es crucial para el crecimiento individual y profesional.
                ambiciosas, superando obstáculos con mayor claridad y dirección.</p>
            <p class="vence">Vence: 12/08/2024</p>
            <a href="./assets/download/materia1.pdf" download class="download-icon"><i class="fas fa-download"></i>
            </a>
        </div>
    </div>

</body>

</html>