
    <!-- Enlaces de "Pendientes" y "Vencidas" -->
    <div class="links">
        <button href="#" class="pendientes">Pendientes</button>
        <button href="#" class="pendientes">Entregadas</button>
        <button href="#" class="vencidas">Vencidas</button>
    </div>
    <hr>
    <div class="tareas-container" *ngIf="tareasp.length > 0; else noTareas">
        <div class="contenedor-tarea" *ngFor="let tarea of tareasp" (click)="Entregar(tarea)">
            <div class="img-materia">
                <img mat-card-image src="./assets/images/mat1.png" alt="materia1">
            </div>
            <div class="informacion-materia">
                <h1>{{ docente }}</h1>
                <h2>{{ tarea.titulo_T }}</h2>
                <p>{{ tarea['descripción_T'] }}</p>
                <p class="vence">Vence: {{ tarea.fecha_Entrega | date:'dd-MM-yyyy HH:mm' }}</p>
                <a href="./assets/download/materia1.pdf" download class="download-icon"><i class="fas fa-download"></i>
                </a>
            </div>
        </div>
    </div>
    <ng-template #noTareas>
        <p>No tienes tareas creadas.</p>
    </ng-template>
