
    <div class="contenedor-tarea">
        <div class="encabezado-materia">
            <h1>{{alumno}}</h1>
            <button class="entregar-button acciones" mat-raised-button color="primary" (click)="calificar()">Revisar</button>
    
        </div>
        <div class="contenido-principal">
            <div class="informacion-materia">                
                <p class="vence">Entregada: {{entrega.e_fecha | date:'dd-MM-yyyy HH:mm'}}</p>
            </div>

            <div class="img-materia">
                <img mat-card-image src="./assets/images/mat1.png" alt="materia1">
            </div>
        </div>

        <div class="info-tarea">
            <div class="nombre-tarea">
                <strong>Nombre de tarea:</strong> {{ tarea.titulo_T }}
            </div>

            <div class="desc-tarea">
                <strong>Descripción de la tarea:</strong> {{ tarea['descripción_T'] }}
                <div class="buton-download">
                    <a href="./assets/download/materia1.pdf" download class="download-icon">
                        <i class="fas fa-download"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="list-section">
            <div class="list-title">Archivos entregados</div>
            <div class="list">
                <ul #listContainer>
                    <!-- Aquí se mostrarán los archivos cargados -->
                </ul>
            </div>
        </div>

        <!-- Apartado de calificación -->
        <div class="calificacion">
            <label for="calificacionInput"><strong>Ingrese la calificación:</strong></label>
            <input type="number" id="calificacionInput" [(ngModel)]="calificacion" [placeholder]="entrega['calificación']" min="0" max="10"
                step="0.01" class="input-calificacion" (input)="validarDecimales()" [value]="entrega['calificación']" />
            <div *ngIf="calificacionFueraDeRango" class="error-msg">La calificación debe estar entre 0 y 10</div>
            <div *ngIf="decimalesInvalidos" class="error-msg">Solo se permiten hasta dos decimales</div>
        </div>

        <!-- Sección de mensajeria new -->
        <div class="comentarios">
            <h2>Comentarios</h2>

            <!-- Contenedor para los mensajes -->
            <div class="lista-mensajes">
                <!-- Mensajes dinámicos -->
                <div *ngFor="let mensaje of mensajes"
                    [ngClass]="{'mensaje': true, 'docente': mensaje.emisor === 'docente', 'alumno': mensaje.emisor === 'alumno'}">
                    <p>
                        <strong>{{ mensaje.emisor | titlecase }}: {{ mensaje.nombre }}</strong>
                        <span class="fecha-mensaje">({{ mensaje.fecha }})</span>
                    </p>
                    <p>{{ mensaje.texto }}</p>
                </div>
            </div>

            <!-- Campo para enviar un nuevo mensaje -->
            <div class="nuevo-comentario">
                <input type="text" [(ngModel)]="nuevoMensaje" placeholder="Escribe un comentario..."
                    class="input-comentario" (keyup.enter)="enviarMensaje()">
                <button (click)="enviarMensaje()" class="btn-comentar" mat-raised-button
                    color="primary">Comentar</button>
            </div>
        </div>

    </div>