<div class="eliminar-tareas">
    <button mat-button class="seleccionar-video-btn" mat-raised-button color="accent" (click)="toggleCheckboxes()"
        [disabled]="hayTareasSeleccionadas()">
        <img src="../../assets/images/check-all-white.ico" alt="Icono Tarea" class="icono-tarea">
        Seleccionar Video
    </button>

    <!-- Botón para eliminar videos (aparece si hay videos seleccionados) -->
    <button mat-button class="eliminar-tareas-btn" mat-raised-button color="accent" (click)="eliminarEntregas()"
        *ngIf="hayTareasSeleccionadas()">
        <img src="../../assets/images/delete.ico" alt="Icono Tarea" class="icono-tarea">
        Eliminar Video
    </button>


    <!-- Botón para subir video (se oculta si hay videos seleccionados) -->
    <button mat-button class="upload-btn" mat-raised-button color="accent" (click)="openDialog()"
        *ngIf="!isDocente">
        <span class="texto-btn">Subir Video</span>
        <img src="../../assets/images/video-uploads.png" alt="Icono Tarea" class="icono-tarea">
    </button>

    <input type="file" id="documento" name="documento" multiple style="display: none;">
</div>

<hr>

<div class="card-container">
    <mat-card class="example-card" appearance="outlined" *ngFor="let card of videoCards; let i = index"
    [ngClass]="{'selected': card.seleccionada, 'mat-card-header-adjusted': isButtonClicked}">
  <div class="checkbox-container" *ngIf="showCheckboxes">
    <input *ngIf="card.usuario == userId || isDocente" type="checkbox" class="tarea-checkbox" [(ngModel)]="card.seleccionada">
  </div>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ card.title }}</mat-card-title>
    <mat-card-subtitle>{{ card.subtitle }}</mat-card-subtitle>
  </mat-card-header>

  <div class="video-container" [ngClass]="{'initial': !card.isVideoVisible, 'expanded': card.isVideoVisible}">
    <!-- Mostrar imagen si el video no está visible -->
    <img *ngIf="!card.isVideoVisible" mat-card-image src="./assets/images/videosShare.png" alt="materia1"
         (click)="playVideo(i)">

    <!-- Mostrar video si está visible -->
    <ng-container *ngIf="card.isVideoVisible">
      <video *ngIf="!card.isYouTube" #videoPlayer class="video-player" controls autoplay>
        <source [src]="card.videoSrc" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <iframe *ngIf="card.isYouTube" class="video-player" [src]="getVideoIframe(card.videoSrc)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ng-container>
  </div>

  <mat-card-content>
    <p>{{ card.title }}</p>
    <p>{{ card.subtitle }}</p>
  </mat-card-content>
</mat-card>
</div>