<div class="centrar flex">
  <div>
    <h1 class="titulo">
      Iniciar Sesión
    </h1>
    <form class="formulario">
      <button mat-raised-button color="accent" class="bonton espacio">Subir horario</button>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Contraseña</mat-label>
        <input required type="password" matInput placeholder="Contraseña">
      </mat-form-field>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Confirmar contraseña</mat-label>
        <input required type="password" matInput placeholder="Contraseña">
      </mat-form-field>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Correo de recuperación</mat-label>
        <input required type="email" matInput placeholder="correo@dominio.com">
      </mat-form-field>
      <button (click)="sendData()"[routerLink]="['/login/verificar-datos']" mat-raised-button color="primary" class="bonton">Iniciar</button>
    </form>
    <div class="flex">
      <p class="sub-texto">Cuentas ya con una cuenta? </p>
      <a mat-button routerLink="/login/login-component" routerLinkActive="active" ariaCurrentWhenActive="page" color="accent" class="sub-texto">Iniciar Sesión</a>
    </div>
  </div>
</div>