<div class="centrar flex">
  <div>
    <h1 class="titulo">
      Iniciar Sesión
    </h1>
    <form [formGroup]="formReg" class="formulario" >
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Contraseña</mat-label>
        <input required formControlName="contr" type="password" matInput placeholder="Contraseña">
      </mat-form-field>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Confirmar contraseña</mat-label>
        <input required formControlName="confcontr" type="password" matInput placeholder="Contraseña">
      </mat-form-field>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Correo de recuperación</mat-label>
        <input matInput placeholder="pat@ejemplo.com" required formControlName="recCorreo"(blur)="updateErrorMessage()">
        @if (formReg.controls.recCorreo) {
          <mat-error>{{errorMessage}}</mat-error>
        }
      </mat-form-field>
      <button (click)="obtenerDataForm()" [disabled]="!formReg.valid" mat-raised-button color="accent" class="bonton espacio">Subir horario</button>
      <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">
      <button (click)="sendData()" [disabled]="!formReg.valid" [routerLink]="['/login/verificar-datos']" mat-raised-button color="primary" class="bonton">Iniciar</button>
    </form>
    <div class="flex">
      <p class="sub-texto">Cuentas ya con una cuenta? </p>
      <a mat-button routerLink="/login/login-component" routerLinkActive="active" ariaCurrentWhenActive="page" color="accent" class="sub-texto">Iniciar Sesión</a>
    </div>
  </div>
</div>