<div class="centrar">
  <div>
    <h1 class="titulo">
      Registro de cuenta
    </h1>
    <form class="formulario">
      <button mat-raised-button color="accent" class="bontonAcentuado">Subir horario</button>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Correo de recuperación</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </form>
  </div>
</div>