<div class="translator-container">
  <h1>Traductor de Texto</h1>
  <form (submit)="translateText()">
    <div class="form-group">
      <label for="text">Texto a traducir:</label>
      <textarea id="text" [(ngModel)]="text" name="text" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="language">Selecciona el idioma:</label>
      <select id="language" [(ngModel)]="language" name="language">
        <option value="en">Inglés</option>
        <option value="fr">Francés</option>
        <option value="de">Alemán</option>
        <option value="it">Italiano</option>
        <option value="es">Español</option>
      </select>
    </div>
    <button type="submit" class="btn">Traducir</button>
  </form>
  <div *ngIf="translatedText" class="translated-text-container">
    <h2>Texto Traducido:</h2>
    <p>{{ translatedText }}</p>
  </div>
</div>
