body {
  background-color: #f7f9fc;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.translator-container {
  max-width: 700px;
  margin: 45px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  color: #6d1a42;
  /* Color guindo */
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

textarea{
  font-size: 20px;
}

textarea,
select,
.btn {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

textarea {
  resize: none;
  min-height: 100px;
}

.btn {
  background-color: #6d1a42;
  /* Color guindo */
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  height: 40px;
  padding: 10px;
  transition: background-color 0.3s ease;
  font-size: 19px;
  font-weight: bold;
  margin-top: 12px;
  /* Esto pone el texto en negritas */
}

.btn:hover {
  background-color: #5e0015;
  /* Un tono más oscuro de guindo para el hover */
}

.translated-text-container {
  margin-top: 20px;
  background: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
}

.translated-text-container p {
  margin: 0;
}

/* ---- */
.form-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  font-family: 'Arial', sans-serif;
}

label {
  font-size: 16px;
  font-weight: bold;
  color: #4a4a4a;
  margin-bottom: 5px;
}

select {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  color: #333;
  background-color: #6d1a4223;
  border: 1px solid #6d1a42;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

select:focus {
  border-color: #db1776ed;
  box-shadow: 0 0 5px #6d1a42;
}

select:hover {
  background-color: #6d1a4223;
}

option {
  font-size: 14px;
  color: #333;
}

/* Botón de altavoz */
.btn-speaker {
  background-color: transparent;
  color: #800020;
  font-size: 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-speaker:hover {
  color: #5e0015;
}