<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materias</title>

</head>

<body>
    <div class="card-container" *ngIf="combinados.length > 0; else noGrupos">
        <mat-card class="example-card" appearance="outlined" *ngFor="let grupo of combinados"
            (click)="irGeneralMaterias(grupo)">
            <img mat-card-image src="./assets/images/mat1.png" alt="materia1">
            <mat-card-content>
                <h3>{{ grupo.material }}</h3>
                <h4>{{ grupo.idgrupos }}</h4>
            </mat-card-content>
        </mat-card>
    </div>
    <ng-template #noGrupos>
        <p>No tienes grupos asignados.</p>
    </ng-template>

    <!--<div class="card-container">

        <mat-card class="example-card" appearance="outlined">
            <img mat-card-image src="./assets/images/mat1.png" alt="materia1">
            <mat-card-content>
                <h3>Liderazgo Personal</h3>
                <h4>Uriel Alejandro</h4>
                <h4>8CM1</h4>
            </mat-card-content>
        </mat-card>

        <mat-card class="example-card" appearance="outlined">
            <img mat-card-image src="./assets/images/mat2.png" alt="materia2">
            <mat-card-content class="card-description">
                <h3>Liderazgo Personal</h3>
                <h4>Uriel Alejandro</h4>
                <h4>8CM1</h4>
            </mat-card-content>
        </mat-card>

        
        <mat-card class="example-card" appearance="outlined">
            <img mat-card-image src="./assets/images/mat3.png" alt="materia3">
            <mat-card-content>
                <h3>Liderazgo Personal</h3>
                <h4>Uriel Alejandro</h4>
                <h4>8CM1</h4>
            </mat-card-content>
        </mat-card>

        <mat-card class="example-card" appearance="outlined">
            <img mat-card-image src="./assets/images/mat3.png" alt="materia3">
            <mat-card-content>
                <h3>Liderazgo Personal</h3>
                <h4>Uriel Alejandro</h4>
                <h4>8CM1</h4>
            </mat-card-content>
        </mat-card>

        <mat-card class="example-card" appearance="outlined">
            <img mat-card-image src="./assets/images/mat3.png" alt="materia3">
            <mat-card-content>
                <h3>Liderazgo Personal</h3>
                <h4>Uriel Alejandro</h4>
                <h4>8CM1</h4>
            </mat-card-content>
        </mat-card>

        <mat-card class="example-card" appearance="outlined">
            <img mat-card-image src="./assets/images/mat3.png" alt="materia3">
            <mat-card-content>
                <h3>Liderazgo Personal</h3>
                <h4>Uriel Alejandro</h4>
                <h4>8CM1</h4>
            </mat-card-content>
        </mat-card>
    </div>-->
</body>

</html>