<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado tareas general</title>
</head>

<body>
    <!-- Enlaces de "Pendientes" y "Vencidas" -->

    <div class="crear-tareas">
        <button mat-button class="crear-tareas-btn" mat-raised-button color="accent" (click)="navigateToCrearTareas()">
            <img src="../../assets/images/homework.ico" alt="Icono Tarea" class="icono-tarea">
            Crear Tarea
        </button>
    </div>

    <hr>
    
    <div class="tareas-container" *ngIf="tareas.length > 0; else noTareas">
        <div class="contenedor-tarea" *ngFor="let tarea of tareas" (click)="irListadoEntregas(tarea)">
            <div class="img-materia">
                <img mat-card-image src="./assets/images/mat1.png" alt="materia1">
            </div>
            <div class="informacion-materia">
                <div class="titulo-icono">
                    <h1>{{ tarea.titulo_T }}</h1>
                    <!-- Ícono de opciones convertido en botón -->
                    <button mat-icon-button class="boton-opciones" [matMenuTriggerFor]="menu">
                        <mat-icon color="accent" aria-hidden="false" aria-label="Example home icon" >menu</mat-icon>
                    </button>
                    <mat-menu class="menuu" #menu="matMenu" color="primary">
                        <button mat-menu-item class="custom-menu-item" (click)="editarTarea(tarea)">Editar Tarea</button>
                        <button mat-menu-item class="custom-menu-item" (click)="eliminarTarea(tarea)">Eliminar Tarea</button>
                    </mat-menu>                                              
                </div>
    
                <div class="seccion-medio">
                    <!-- Usando notación de array para evitar errores con el acento -->
                    <p>{{ tarea['descripción_T'] }}</p>
                </div>
    
                <div class="seccion-abajo">
                    <!-- Formato de fecha ajustado -->
                    <p class="vence">{{ tarea.fecha_Entrega | date:'yyyy-MM-dd HH:mm' }}</p>
                </div>
    
            </div>
        </div>
    </div>
    <ng-template #noTareas>
        <p>No tienes tareas creadas.</p>
    </ng-template>
</body>

</html>
