@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

.contenedor-tarea {
    width: 90%;
    max-width: 2040px;
    margin: 20px auto; /* Combina los márgenes superior e inferior */
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(226, 226, 226, 0.8); /* Color de fondo simplificado */
    display: flex; /* Utiliza flexbox para alinear los elementos */
    align-items: flex-start; /* Alinea elementos al inicio del contenedor */
    border: 1px solid transparent; /* La propiedad border ya es transparente */
}

/* Ajustes para la imagen */
.img-materia {
    flex: 0 0 24%; /* Reduce el espacio asignado a la imagen */
    max-width: 24%; /* Limita el tamaño máximo */
}

img[mat-card-image] {
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin: 0;
}

/* Ajustes para la información de la materia */
.informacion-materia {
    flex: 1; /* Ocupa el espacio restante a la derecha de la imagen */
    padding-left: 10px; /* Espacio a la izquierda de la información */
    padding-right: 30px; /* Espacio a la derecha de la información */
}

/* Sección de medio */
.seccion-medio {
    margin: 20px 0; /* Espaciado superior e inferior */
    margin-bottom: 40px; /* Aumenta el espacio hacia abajo */
}

/* Sección de abajo */
.seccion-abajo {
    margin: 20px 0; /* Espaciado superior e inferior */
}


/* --------------------------------- */
.informacion-materia h1 {
    margin-top: 10px;
    padding: 5px 0;
    font-family: "Cambria";
    color: #6d1a42;
}

.informacion-materia p {
    text-align: justify;
    /* Justifica el texto en el párrafo */
}

/* ---------- Ajustes para el icono de opciones ---------- */
.titulo-icono {
    display: flex; /* Usar flexbox para alinear los elementos */
    align-items: center; /* Alinear verticalmente los elementos */
    justify-content: space-between; /* Espaciado entre el título y el ícono */
    margin-bottom: 12px; /* Espacio inferior si es necesario */
}

.icono-materia {
    width: 35px; /* Ajusta el tamaño del ícono */
    height: 35px;
}

.controles{
    display: flex;
    width: 100%;
    justify-content: end;
}

/* ---------- boton de opciones ---------- */
.boton-opciones {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.0); /* Fondo semitransparente */
    border-radius: 50%; /* Forma circular */
    padding: 5px; /* Espaciado interno */
    transition: background-color 0.3s ease; /* Transición suave en hover */
}

.boton-opciones:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Fondo más oscuro al hacer hover */
}

/* Estilo para la línea hr */
hr {
    border: 0;
    height: 2px;
    background-color: deeppink;
}

/* -------------------- */

/* --------------------- estilos para las opciones que tiene --------------------- */
.custom-menu-item {
    position: relative; /* Necesario para el pseudo-elemento */
    transition: color 0.3s; /* Suaviza el cambio de color */
    text-align: center;
    font-family: 'Times New Roman', Times, serif; 
    font-size: 12px;
    border: none; /* Elimina los bordes por defecto */
    border-bottom: 2px solid transparent; /* Línea inferior invisible por defecto */
    transition: color 0.3s, border-bottom-color 0.3s; /* Añade una transición suave */
}

/* Estilo al pasar el mouse */
.custom-menu-item:hover {
    color: #800000; /* Cambia el color del texto */
    border-bottom-color: #800000; /* Muestra la línea inferior */
    font-weight: bold;
}

/* mensaje de fecha de vencimiento */
.vence {
    color: red;
    font-family: "Girassol";
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

/* --------------------- Estilos para el boton de crear tarea --------------------- */
.crear-tareas {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.icono-tarea {
    width: 23px; /* Ajusta el tamaño del icono */
    height: 23px;
    margin-right: 2px; /* Espacio entre el icono y el texto */
    margin-bottom: -7px;
    cursor: pointer;
}

.titulo-icono {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.crear-tareas-btn {
    display: inline-flex;
    justify-content: center; /* Centra el contenido del botón horizontalmente */
    align-items: center; /* Alinea el icono y el texto verticalmente */
    padding: 10px 20px;
    background: linear-gradient(to right, #FF9933, #FFC545) !important;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 18px;
    font: bold;
    text-align: center;
}