
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$custom-primary-palette: (
    50: #f8e3ea,
    100: #efb8cb,
    200: #e58ca9,
    300: #db6089,
    400: #d34271,
    500: #cd275a,
    600: #bc2557,
    700: #a72251,
    800: #921f4c,
    900: #6d1a42,
    contrast: (
      50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    )
  );

  $custom-acent-palette: (
    50: #fff9e4,
    100: #ffeeba,
    200: #ffe48f,
    300: #ffda65,
    400: #ffd04a,
    500: #ffc83f,
    600: #ffbb3a,
    700: #ffa936,
    800: #ff9933,
    900: #f27d2f,
    contrast: (
      50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    )
  );
  $custom-warn-palette: (
    50: #F9F9FE,
    100: #F3F3F9,
    200: #ECECF1,
    300: #DDDDE2,
    400: #BABABF,
    500: #9A9A9F,
    600: #727276,
    700: #5e5e62,
    800: #3F3F43,
    900: #1E1E22,
    contrast: (
      50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    )
  );
  $custom-blanco-palette: (
    50: #F9F9FE,
    100: #F3F3F9,
    200: #F3F3F9,
    300: #F3F3F9,
    400: #F3F3F9,
    500: #F3F3F9,
    600: #F3F3F9,
    700: #F3F3F9,
    800: #F3F3F9,
    900: #F3F3F9,
    contrast: (
      50: #F3F3F9,
    100: #F3F3F9,
    200: #F3F3F9,
    300: #F3F3F9,
    400: #F3F3F9,
    500: #F3F3F9,
    600: #F3F3F9,
    700: #F3F3F9,
    800: #F3F3F9,
    900: #F3F3F9,
    )
  );
$pivec-primary: mat.define-palette($custom-primary-palette, 900);
$pivec-accent: mat.define-palette($custom-acent-palette, 900, 700, 300);

// The warn palette is optional (defaults to red).

//$pivec-warn: mat.define-palette(mat.$red-palette);
//$pivec-warn: mat.define-palette($custom-warn-palette);
$pivec-warn: mat.define-palette($custom-warn-palette);
//$pivec-blanco: mat.define-palette($custom-blanco-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$pivec-theme: mat.define-light-theme((
  color: (
    primary: $pivec-primary,
    accent: $pivec-accent,
    warn: $pivec-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($pivec-theme);

