<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas</title>
</head>

<body>
    <!-- Enlaces de "Pendientes" y "Vencidas" -->
    <div class="links">
        <a href="#" class="pendientes">Pendientes</a>
        <a href="#" class="pendientes">Entregadas</a>
        <a href="#" class="vencidas">Vencidas</a>
    </div>
    <hr>
    <div class="contenedor-tarea">
        <div class="img-materia">
            <img mat-card-image src="./assets/images/mat1.png" alt="materia1">
        </div>
        <div class="informacion-materia">
            <h1>Liderazgo Personal</h1>
            <p>El desarrollo del liderazgo personal es crucial para el crecimiento individual y profesional. 
                ambiciosas, superando obstáculos con mayor claridad y dirección.</p>
            <p class="vence">Vence: 12/08/2024</p>
        </div>
    </div>

    <div class="contenedor-tarea">
        <div class="img-materia">
            <img mat-card-image src="./assets/images/mat1.png" alt="materia1">
        </div>
        <div class="informacion-materia">
            <h1>Liderazgo Personal</h1>
            <p>El desarrollo del liderazgo personal es crucial para el crecimiento individual y profesional. Una
                habilidad clave es la autoevaluación constante, que permite identificar fortalezas y áreas de
                mejora. Al cultivar esta práctica, se pueden tomar mejores decisiones y gestionar el tiempo de manera
                más eficiente. Al aprender a priorizar las actividades importantes, es posible avanzar hacia metas más
                ambiciosas, superando obstáculos con mayor claridad y dirección.</p>
            <p class="vence">Vence: 12/08/2024</p>
        </div>
    </div>

    <div class="contenedor-tarea">
        <div class="img-materia">
            <img mat-card-image src="./assets/images/mat1.png" alt="materia1">
        </div>
        <div class="informacion-materia">
            <h1>Liderazgo Personal</h1>
            <p>El desarrollo del liderazgo personal es crucial para el crecimiento individual y profesional. Una
                habilidad clave es la autoevaluación constante, que permite identificar fortalezas y áreas de
                mejora. Al cultivar esta práctica, se pueden tomar mejores decisiones y gestionar el tiempo de manera
                más eficiente. Al aprender a priorizar las actividades importantes, es posible avanzar hacia metas más
                ambiciosas, superando obstáculos con mayor claridad y dirección.</p>
            <p class="vence">Vence: 12/08/2024</p>
        </div>
    </div>
</body>

</html>