<!-- Enlaces de "Pendientes" y "Vencidas" -->
<div class="links">
    <button (click)="verPendientes()" class="pendientes">Pendientes</button>
    <button (click)="verEntregadas()" class="pendientes">Entregadas</button>
    <button (click)="verVencidas()" class="vencidas">Vencidas</button>
</div>
<hr>
<div class="tareas-container" *ngIf="visualizar.length > 0; else noTareas">
    <div class="contenedor-tarea" *ngFor="let tarea of visualizar" (click)="Entregar(tarea)">
        <div class="img-materia">
            <img mat-card-image src="./assets/images/mat1.png" alt="materia1">
        </div>
        <div class="informacion-materia">
            <h1>{{ materia }}</h1>
            <h2>{{ tarea.titulo_T }}</h2>
            <p>{{ tarea['descripción_T'] }}</p>
            <p class="vence">Vence: {{ tarea.fecha_Entrega | date:'dd-MM-yyyy HH:mm' }}</p>
            <a href="./assets/download/materia1.pdf" download class="download-icon">
                <i class="fas fa-download"></i>
            </a>
        </div>
    </div>
</div>

<ng-template #noTareas>
    <p *ngIf="estado == 0;">No tienes tareas pendientes.</p>
    <p *ngIf="estado == 1;">No tienes tareas entregadas.</p>
    <p *ngIf="estado == 2;">No tienes tareas vencidas.</p>
</ng-template>