<div class="centrar flex">
    <div>
        <h1 class="titulo" style="text-align: center;">Recuperar contraseña</h1>

        <form [formGroup]="formReg" class="formulario">
            <!-- Contraseña --> 
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Contraseña</mat-label>
                <input required formControlName="contr" type="password" matInput placeholder="Contraseña">
                <mat-error *ngIf="formReg.get('contr')?.hasError('required')">La contraseña es obligatoria.</mat-error>
                <mat-error *ngIf="formReg.get('contr')?.hasError('minlength')">Mínimo 8 caracteres.</mat-error>
                <mat-error *ngIf="formReg.get('contr')?.hasError('pattern')">Debe incluir una mayúscula, un número y un
                    carácter especial.</mat-error> 
            </mat-form-field>

            <!-- Confirmar Contraseña -->
            <mat-form-field style="margin-top: 20px;" appearance="outline" class="example-full-width">
                <mat-label>Confirmar contraseña</mat-label>
                <input required formControlName="confcontr" type="password" matInput placeholder="Confirmar contraseña">
                <mat-error *ngIf="formReg.hasError('mismatch')">Las contraseñas no coinciden.</mat-error>
            </mat-form-field>

            <!-- Botón de guardar contraseña nueva -->
            <button style="margin-top: -5px;" (click)="openDialog()" (click)="recuperarContrasena()" mat-raised-button color="accent"
                class="bonton">Guardar</button>
        </form>
    </div>
</div>