<div class="centrar flex">
    <div>
        <h1 class="titulo" style="text-align: center;">Recuperar contraseña</h1>

        <form [formGroup]="formReg" class="formulario" >
            <!-- Contraseña -->
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Contraseña</mat-label>
              <input required formControlName="contr" type="password" matInput placeholder="Contraseña">
              @if (formReg.controls.contr) {
                <mat-error>{{errorMessageCont}}</mat-error>
              }
            </mat-form-field>
          
            <!-- Confirmar Contraseña -->
            <mat-form-field style="margin-top: 20px;" appearance="outline" class="example-full-width">
              <mat-label>Confirmar contraseña</mat-label>
              <input required formControlName="confcontr" type="password" matInput placeholder="Confirmar contraseña">
              @if (formReg.controls.confcontr) {
                <mat-error>{{errorMessageConfCont}}</mat-error>
              }
            </mat-form-field>
          
            <!-- Botón de guardar contraseña nueva -->
            <button (click)="recuperarContrasena()" style="margin-top: -5px;" type="submit" mat-raised-button color="accent" class="bonton">Guardar</button>
          </form>
          
    </div>
</div>