.content{
    padding: 24px;
  }
  mat-sidenav-container{
    height: 100vh;
    background-color: #6D1A42;
  }
  mat-sidenav{
    width: 300px;
    padding: 18px;
    padding-top: 65px;
    background-color: #6D1A42;
  }
  mat-sidenav-content{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 93%;
    background-color: #FFFFFF;
  }
  