<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reproductor de Video</title>
</head>

<body>

    <h2>Reproductor de Video</h2>

    <div class="video-container">
        <video #videoPlayer width="750" controls>
            <source src="../../assets/images/Cancion1.mp4" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
    </div>

</body>

</html>